.App {
  text-align: center;
}

.blue {
  background-color: blue;
  color: white;
}


#id-example {
  background-color: magenta;
}
.class-example {
  background-color: teal;
}

.decendant-example p {
  background-color:maroon;
}

.decendant-example > #child-example {
  background-color: yellow;
}

.decendant-example + p {
  background-color: red;
}

.relative{
  position: relative;
  top: 100px;
  border: 5px solid black;
}
.absolute {
  position: absolute;
  left: 100px;
}
.fixed {
  position: fixed;
  top: 100px;
}